<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6435654151-24b674k76ut9fhopmd72o2r2i83kevsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6435654151-24b674k76ut9fhopmd72o2r2i83kevsp</string>
	<key>API_KEY</key>
	<string>AIzaSyDxlwOAubOw1Xd0EEWaulC9Rmo4jkoJQPA</string>
	<key>GCM_SENDER_ID</key>
	<string>6435654151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-44140</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-44140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6435654151:ios:d6b9d500ae036f3c01b8a2</string>
</dict>
</plist>